.slider__wrap{
    display: flex;
    position: relative;
    margin-top: 30px;
}

.slider__body{
    width: 220px;
    display: inline-block;
    height: 39px;
    background-color: #3d83c5a8;
    border-radius: 20px;
    padding: 0 15px;
}

.slider__header{
    width: 30px;
    display: inline-block;
    height: 30px;
    background-color: rgb(115 148 181);
    position: absolute;
    left: 15px;
    top: 5px;
    border-radius: 15px;
}